In [8]:
#DemoPandas.ipynb
#ipythonnotebook => 주피터 노트북
from pandas import Series, DataFrame
import pandas as pd

#시리즈 객체는 하나의 컬럼 데이터
myCampus = Series([100,200,300,400,500],
index=["2024-10-01","2024-10-02","2024-10-03","2024-10-04","2024-10-05"])
myCampus

2024-10-01    100
2024-10-02    200
2024-10-03    300
2024-10-04    400
2024-10-05    500
dtype: int64

In [9]:
#슾라이싱
myCampus["2024-10-02"]

np.int64(200)

In [10]:
#데이터프레임
selfdata = {"col1":[1,2],"col2":[3,4]}
frame1=DataFrame(data=selfdata,index=["2024-10-01","2024-10-02"])
frame1

            col1  col2
2024-10-01     1     3
2024-10-02     2     4

In [11]:
#컬럼슬라이싱
frame1["col2"]

2024-10-01    3
2024-10-02    4
Name: col2, dtype: int64

In [12]:
#행 슬라이싱
frame1.loc["2024-10-01"]

col1    1
col2    3
Name: 2024-10-01, dtype: int64

In [13]:
data={"foreigner":[1,2,3,4,5,6],
      "sratio":[10,20,30,40,50,60],  
      "org":[1,2,3,4,5,6],
      "sprice":[1,2,3,4,5,6],
      "private":[100,200,300,400,500,600]    
}
#데이터프레임으로 로딩
frame2 = DataFrame(data=data)
frame2
# # frame2.shape
# frame2.info()

   foreigner  sratio  org  sprice  private
0          1      10    1       1      100
1          2      20    2       2      200
2          3      30    3       3      300
3          4      40    4       4      400
4          5      50    5       5      500
5          6      60    6       6      600

In [28]:
#컬럼순서지정
frame3=DataFrame(data,
columns=["foreigner","private","org","sratio","sprice"])

data={"foreigner":[1,2,3,4,5,6],
      "sratio":[10,20,30,40,50,60],  
      "org":[1,2,3,4,5,6],
      "sprice":[1,2,3,4,5,6],
      "private":[100,200,300,400,500,600]    
}
frame3["private"]
print(type(frame3["private"]))

<class 'pandas.core.series.Series'>

In [37]:
frame4=DataFrame(data,
columns=["foreigner","private","org","sratio","sprice"],
index=["2024-10-01","2024-10-02","2024-10-03","2024-10-04","2024-10-05","2024-10-06"])
# frame4.loc["2024-10-01"]
frame4
frame4.T

,2024-10-01,2024-10-02,2024-10-03,2024-10-04,2024-10-05,2024-10-06
foreigner,1,2,3,4,5,6
private,100,200,300,400,500,600
org,1,2,3,4,5,6
sratio,10,20,30,40,50,60
sprice,1,2,3,4,5,6