In [7]:
#DemoPandas.ipynb
#ipythonnotebook => 주피터 노트북
from pandas import Series, DataFrame
import pandas as pd

#시리즈 객체는 하나의 컬럼 데이터
myCampus = Series([100,200,300,400,500],
index=["2024-10-01","2024-10-02","2024-10-03","2024-10-04","2024-10-05"])
myCampus

2024-10-01    100
2024-10-02    200
2024-10-03    300
2024-10-04    400
2024-10-05    500
dtype: int64

In [9]:
#슾라이싱
myCampus["2024-10-02"]

np.int64(200)

In [18]:
#데이터프레임
selfdata = {"col1":[1,2],"col2":[3,4]}
frame1=DataFrame(data=selfdata,index=["2024-10-01","2024-10-02"])
frame1

            col1  col2
2024-10-01     1     3
2024-10-02     2     4

In [22]:
#컬럼슬라이싱
frame1["col2"]

2024-10-01    3
2024-10-02    4
Name: col2, dtype: int64

In [24]:
#행 슬라이싱
frame1.loc["2024-10-01"]

col1    1
col2    3
Name: 2024-10-01, dtype: int64

In [33]:
data={"foreigner":[1,2,3,4,5,6],
      "sratio":[10,20,30,40,50,60],  
      "org":[1,2,3,4,5,6],
      "sprice":[1,2,3,4,5,6],
      "private":[100,200,300,400,500,600],    
}
#데이터프레임으로 로딩
frame2 = DataFrame(data=data)
# frame2
# frame2.shape
frame2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   foreigner  6 non-null      int64
 1   sratio     6 non-null      int64
 2   org        6 non-null      int64
 3   sprice     6 non-null      int64
 4   private    6 non-null      int64
dtypes: int64(5)
memory usage: 368.0 bytes